body {
  font-family: "Pacifico", cursive;
  background-color: #fff3e0;
  color: #6d4c41;
}

.navbar {
  background-color: #f8b195; /* Rosa pastel */
}
@media (max-width: 992px) {
  #navbarNav {
    text-align: center; 
  }

  .navbar-nav {
    justify-content: center; 
    width: 100%; 
  }
}
.navbar-brand,
.navbar-nav .nav-link {
  color: #6d4c41;
}
.navbar-brand,
.navbar-nav .nav-link {
  color: #6d4c41;
}
.navbar-brand {
  font-size: 1.2em;
}
.navbar-toggler {
  border: none; 
}

.navbar-toggler:focus {
  outline: none; 
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba(109, 76, 65, 1)" stroke-width="2" d="M 2 5 L 28 5 M 2 15 L 28 15 M 2 25 L 28 25" /%3E%3C/svg%3E'); /* Cambia el color a café oscuro */
}

.navbar-toggler:hover {
  background-color: #f67280; 
}

header {
  background-color: #f8b195;
  color: #6d4c41;
}

button,
.btn-primary {
  background-color: #f67280; 
  color: #fff3e0; 
}

button:hover,
.btn-primary:hover {
  background-color: #c5e1a5;
}

.card {
  background-color: #F8B195; 
  color: #6D4C41;
  border: 1px solid #F8B195;
}

.card-img-top {
  height: 200px;
  object-fit: cover; 
}
